 

.statistics {
  background-color: #ffffff;
  width: 300px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}
.title {
  vertical-align: middle;
  margin: 0px;
  padding: 20px;
  color: rgb(83, 91, 96);
}
 
.item {
  display: inline-flex;
  flex-direction: column;
  width: calc((100% - 100px) / 5);
  padding: 10px;
  color: #ffffff;
}
.label {
    margin-bottom: 5px;
    font-size: 13px;
}
 