.status {
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin: 0px 10px;
}
.oflaine {
  composes: status;
  background-color: #ff0000;
}
.online {
  composes: status;
  background-color: #049d04;
}
